*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    
    background: black;
    color:white
}
.container{
    width: 80%;
    height: 100%;
    margin:0 auto;
    padding:40px 0;
    position: relative;
  
}
.quiz{
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding-top:20px;
    box-shadow: 0 0 5px white;
    // padding:0 30px;
    
    &__item{
        margin-bottom: 10px;
       // background: white;
       padding:20px 0;
    }
    &__question{
        text-align: center;
        margin-bottom: 5px;
        &-number{
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__list-answer{
        list-style: none;
        width: 100%;
        
        
    }
    &__answer{
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
       
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
        cursor:pointer;
        &:hover{
            background: white;
            color:black;
            font-weight: 600;
        }
    }
    &__playe{
        font-size:40px;
        text-align:center;
        color:rgb(232, 248, 10);
        padding-top:20px;
    }
    &__reset{
        background: #000;
        color:white;
        border:1px solid black;
        display: flex;
        &:hover{
            background: white;
            color:black;
            border:1px solid black;
        }
    }
    &__btn{
        
        width: 180px;
        height: 50px;
        display: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        border:1px solid white;
        margin:20px auto 0px;
        color:white;
        border-radius: 13px;
        cursor: pointer;
        &:hover{
            background: white;
            color:black;
        }

    }
    &__result{
        display: none;
        width:100% ;
        height: 100vh;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        background: white;
    
        
    }
    &__table{
        width: 400px;
        height: 400px;
        margin:40px auto 0;
        border-collapse: collapse;
        
        td{
            border:2px solid black;
            color:black;
            height: auto;
            text-align: center;
        }
    }
}


.btn{
    width: 180px;
    height: 50px;
   
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    border:1px solid white;
    margin:20px auto 0px;
    color:white;
    border-radius: 13px;
    cursor: pointer;
    &:hover{
        background: white;
        color:black;
    }


    

}